bin/*
obj/*
Compass/bin/*
Compass/obj/*
Compass.Tests/bin/*
Compass.Tests/obj/*
packages/*
Compass.userprefs
.vs/config/applicationhost.config
Compass.Tests/app.config
Compass.Frontend/node_modules/*
Compass.Frontend/bin/*
Compass.Frontend/obj/*